*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/



# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/CLASE01/clase1_ejemplo1/nbproject/private/
/CLASE01/ejemplo_1/nbproject/private/
/CLASE01/ejemplo_1/build/
/CLASE01/demo02/nbproject/private/
/CLASE01/demo02/build/
/CLASE01/demo03/nbproject/private/
/CLASE01/demo03/build/
/CLASE01/ejemplo2/nbproject/private/
/CLASE01/ejemplo2/build/
/CLASE01/sesion_2/nbproject/private/
/CLASE01/sesion2/nbproject/private/